.containerCreate {
    border-top: 1px solid rgba(255,255,255, 0.1);
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}

.cardSuperHeroeCreate {
    position: relative;
    width: fit-content;
    margin-left: 100px;
}

.imgSuperHeroeCreate {
    border-radius: 20px;
}

.superHeroeLabelCreate {
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translate(-50%,0);
    width: 100%;
    height: 120px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(0,0,0, 0.5);
}

.superHeroeLabelNameCreate {
    text-align: center;
    font-size: 22px;
}

.superHeroeLabelSkillsCreate {
    text-align: center;
}

.containerForm {
    padding-top: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
    /* position: relative; */
}

.inputLabelForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.labelCreateForm {
    color: rgba(255, 255, 255, 0.2);
}

.inputForm {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 60%;
}

.validateForm {
    /* position: absolute; */
    /* margin-top: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
}

.cancelButtonCreate {
    margin-right: 15px;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: 20%;
}

.validateButtonCreate {
    margin-left: 15px;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 20%;
}