body {
    background: rgb(6,54,41);
    background: linear-gradient(50deg, rgba(6,54,41,0.8085609243697479) 0%, rgba(52,12,12,0.8113620448179272) 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
margin: 0;
height: 100%;
/*     padding-left: 20px;
    padding-right: 20px; */
}
