.buttonSuperHero {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    cursor: pointer;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.pathNavBar {
    display: flex;
    align-items: center;
}

.Home {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
    margin-right: 20px;
}

.Path {
    padding-left: 5px;
}

.searchFilterBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 20px;
    margin-right: 20px;
}

.inputSearch {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
}

.dropdownFilter {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.buttonSearch {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}

.listCardSuperHeroe {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    margin: 10px;
    
}

.cardSuperHeroeHome {
    position: relative;
    margin: 20px;
    cursor: pointer;
}

.imgSuperHeroe {
    border-radius: 20px;
}

.superHeroeLabel {
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translate(-50%,0);
    width: 100%;
    height: 120px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(0,0,0, 0.5);
}

.superHeroeLabelName {
    text-align: center;
    font-size: 22px;
}

.superHeroeLabelSkills {
    text-align: center;
}
