.cardSuperHeroeProfil {
    margin: 20px;
}

.imgSuperHeroeProfil {
    border-radius: 20px;
}

.containerProfil {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.containerInfoProfil {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 50%;
}

.containerXPLOCATION {
    display: flex;
    flex-direction: row;
}

.containerXPLOCATIONCOLUMN {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.profilName  {
    font-size: xx-large;
}

.detailXPLOCATION  {
    color: rgba(255,255,255, 0.5);
}

.containerBotSomeProfil {
    background-color: rgba(255,255,255,0.2);
}

.labelSomeProfil {
    margin: 30px;
    padding-top: 30px;
    font-size: 20px;
}

.cardSomeSuperHeroeProfil{
    margin: 30px;
    position: relative;
    cursor: pointer;
}

.imgSomeSuperHeroeProfil {
    border-radius: 20px;
}

.containerSomeSuperHeroes {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.someSuperHeroeLabel {
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translate(-50%,0);
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(0,0,0, 0.5);
}

.someSuperHeroeLabelNameProfil {
    text-align: center;
    font-size: 15px;
}