<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="favicon.png" />
		<meta name="robots" content="noindex, nofollow" />
		<title>OFF-WORKS</title>
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>
